.container-main
{
    display:  flex;
    flex-direction: column;
    margin: 5% 7%;
    box-shadow: 0px 0px 4px 0px #CCE2DE;

}
.container-row
{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #CCE2DE;
    margin: 1.5% 2%;
    padding: 5% 10%;
    width: 50%;
}

.content > p{
    font-family: "Philosopher" ;
    font-weight: 100;
    font-size: 1.8vw;
}

.content > img
{
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .container-row
    {
        flex-direction: column;
    }
    .content
    {
        width: initial ;
    }
    .content > p{
        font-size: 3.8vw;
    }
}